{% extends 'base.html' %}

{% block title %}
  Технологии
{% endblock %}

{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Косячить :)
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии": здесь будет описание, но чуть позже, обещаю</p>
  </article>
</div>
{% endblock %}
